.title {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .main {
        font-size: 18px;
        font-weight: bolder;
    }

    .sub {
        margin-left: 10px;
    }
}

.topic-title {
    display: flex;
    margin: 10px 0;

    .topic-title-input {
        margin-left: 5px;
        width: 80%;
    }
}

.tool {
    margin: 10px 0;

    span {
        cursor: pointer;
        margin-left: 10px;
    }

    [nz-icon] {
        margin-right: 6px;
        font-size: 20px;
    }
}

nz-select {
    width: 20%;
}

.preview {
    background-color: #fff;
    padding: 10px;
    border: #d1d5db 1px solid;
    min-height: 450px;
}

.alert {
    margin: 10px 0;
}

.reply {
    display: flex;
    align-items: center;
    margin: 10px 0;

    .key {
        margin-left: 10px;
    }

    .explain {
        margin-left: auto;
    }
}