<!-- <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <nz-list-item *ngFor="let item of posts">
        <nz-list-item-meta nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
            nzDescription="Ant Design, a design language for background applications, is refined by Ant UED Team">
            <nz-list-item-meta-title>
                <a routerLink="/post/{{item.id}}">{{ item.title }}</a>
            </nz-list-item-meta-title>
        </nz-list-item-meta>
    </nz-list-item>
    <nz-list-empty *ngIf="posts.length === 0"></nz-list-empty>
</nz-list> -->
<div class="community">
    <div class="post-list">
        <app-community-header></app-community-header>
        <!-- <div style="height: 100px;" *ngFor="let item of topics"> -->
        <app-topic-item *ngFor="let item of topics" [topicItem]="item"></app-topic-item>
        <!-- </div> -->
    </div>
    <!-- <div class="empty"></div> -->
    <div class="right-banner">
        <div class="card">
            <button nz-button nzType="primary" nzBlock="true" (click)="createTopic()">发布新话题</button>
        </div>
        <div class="card">
            <div class="card-header">
                社区规则
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="https://down.7086.in/smart-questions/" target="_blank">提问的智慧</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <nz-card nzHoverable style="width:240px" [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="文章：提问的智慧" nzDescription="How To Ask Questions The Smart Way"></nz-card-meta>
            </nz-card>
            <ng-template #coverTemplate>
                <img alt="example" src="https://os.alipayobjects.com/rmsportal/QBnOOoLaAfKPirc.png" />
            </ng-template>
        </div>
        <div class="card">
            <nz-card style="width:300px;" nzTitle="社区规则" [nzExtra]="extraTemplate">
                <p><a href="https://down.7086.in/smart-questions/" target="_blank">提问的智慧</a></p>
                <p><a routerLink="/wiki/forbidden">这些话题不应该被讨论</a></p>
            </nz-card>
            <ng-template #extraTemplate>
                <a routerLink="/wiki">更多</a>
            </ng-template>
        </div>
    </div>
</div>