.topic-item {
    display: flex;
    padding: 10px;
    // cursor: pointer;
}

.avatar {
    margin-right: 15px;
}

.title {
    font-size: 16px;

    a {
        color: black;
    }
}

.info {
    color: #786666;
    font-size: 13px;
}

.node {
    background-color: #f5f5f5;
    font-size: 12px;
    line-height: 12px;
    display: inline-block;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    color: var(--color-gray);
}

.user-name {
    color: #786666;
    text-decoration: underline;
}

.count {
    margin-left: auto;
    width: 100px;
    text-align: right;

    a {
        background-color: #d5e5fd;
        border-radius: 80px;
        color: #666;
        display: inline-block;
        font-size: 13px;
        line-height: 11px;
        min-width: 32px;
        padding: 3px 8px;
        text-align: center;
        text-decoration: none;
    }
}

.divider {
    margin: -20px 0;
}